img {
  max-width: 100%;
  display: block;
}


.Accordion
  background #FFF
  box-shadow 0 1px 8px rgba(#000, .25)
  overflow hidden

pre
  padding 1em
  background #f7f7f7 //#EEE
  margin 1em 0
  font-size .8rem

.Tag
  white-space: nowrap;
  font-family "Courier New", Courier, monospace
  background #f9f0e2
  padding .3em
  margin 1em 0
  &:before
    content "[ "
  &:after
    content " ]"
  &:before, &:after
    color blue

.mark
  display inline
  padding 0 .3em
  font-size .8em
  background #ff9800 + 70% // #f9f0e2
  // font-family 'Courier New', Courier, monospace
  font-family "Roboto Condensed", sans-serif


.Ymap
  background #CCC



.divider
  display flex
  align-items center
  margin 2.2em
  &:before, &:after
    flex 1
    content ""
    height 1px
    background rgba(#999, .5) // #CCC
  &_text
    font-family "Times New Roman", serif
    padding 0 1em
    letter-spacing .1em
    text-transform uppercase
    white-space nowrap

hr
  margin 1em 0
  height 1px
  border 0
  border-top 1px solid rgba(#999, .5)
  // border-top: 1px dashed $orange //violet
  &.hr_0
    margin 0 0 1em
  &.hr_1
    margin 5em 3em 4em
    text-align center
    overflow visible
    border 0
    background-image linear-gradient(to right, rgba(#000, 0), rgba(violet .75), rgba(#000, 0))
    line-height 1
    &:after
      content " ⚛ ⚒ ⚛ "
      display inline-block
      position relative
      top -.5em
      font-size 1.5em
      padding 0 .5em
      background #f7f7f7
