/*-------------------------------------------*\
.danger
  color $danger
\*-------------------------------------------*/
// fontClr = { danger:#ec4758, warning:#f7a54a, primary:#18a689, info:#21b9bb }

fontClr = { success:#03a9f4, danger:#ec4758, warning:#f7a54a, primary:#18a689, info:#21b9bb }

FontClr(clr)
  for key, val in clr
    // val = unit(v, rem)
    .{key}
      color: val
FontClr(fontClr)



// ===============================================
.condensed
  font-family "Roboto Condensed", sans-serif

.center
  text-align center

.bold
  font-weight bold

.small
  font-size .6rem

/**
!TODO
*/
.em
  color #000
  font-family "Roboto Condensed", sans-serif
