$text = #34495e
$header = #3c4858

$header_text= #C7CEDE
$link = #477dca
$_border = #dee2e6


$red = #ed5565
$blue = #3498db
$green = #26a69a
$orange = #ff9800



// $red = #dc004e
// $blue = #1976d2

// $green = #26a69a
// $orange = #ff9800

