.Card,
.Card_list
  background #FFF
  box-shadow 0 1px 8px rgba(#000, .25)

// panel
// area
// header
// content
// actions


.Card_list
  // display inline-grid
  li, a
    padding 0 1em
    line-height 2.4
    border-top 1px solid rgba(#CCC, .3)
    textOW()
    &:hover
      background #f9f9f9
      color #477dca - 30
    &.selected
      color #000
    &.active
      background #f3f4f5
      color #000
      text-decoration: underline
  // as a
  li
    cursor pointer
    color #477dca
  a
    display block
    text-decoration none

// ++++++++++++++

/*
.Badge
  display inline-flex
  align-items center
  color #222
  padding 0 .3em
  background #f7f7f7 // #dee2e6
  border 1px solid #dee2e6
  font-size .8rem
  margin-bottom .8rem

.itemFooter
  background-color #eee
  padding .5em 1em
*/
