
$select()
  appearance: none
  cursor: pointer
  background #fff url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='22' height='12'><polygon points='0,0 12,0 6,12' fill='orange'/></svg>") 100%/1.4em no-repeat;
  padding-right: 30px !important //for icon
select:not([multiple]),
.select
  $select()

  /*
  option
    -webkit-appearance: menulist-button
    line-height 3em
    height: 2.4em;
  */

select[multiple]
  cursor: pointer
  padding .2em
  &:before
    // pointer-events: none
    cursor: default
    color #568DA6
    content: 'multiple: CTRL + items';
    display block
    padding 0 1em .5em
  option
    padding .3em .5em
    &:first-child
      background #EFEFEF
