.Search-hasReset
  position relative
.Search_Reset
  cursor pointer
  position absolute
  top 50%
  transform translateY(-50%)
  left 12px
  width 20px
  height 20px
  border-radius 50%
  background #2196f3 url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'><g stroke='white' stroke-width='4' stroke-linecap='round'><line x1='3' y1='3' x2='17' y2='17'/><line x1='3' y1='17' x2='17' y2='3'/></g></svg>") center/50% no-repeat
  &:hover
    background-color $red
.Search
  padding-left: 2.4em !important;
  background #FFF url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='13' height='13'><g stroke-width='2' stroke='blueviolet'><circle cx='5' cy='5'  r='4' style='fill:none;' /><line x1='9' y1='9' x2='13' y2='13' /></g></svg>") 1em 50% no-repeat
